node_modules
.next
.next-dev
.next_cache_*
.next_stale_*
out
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env.local
*.tsbuildinfo
storage/dropbox/*
!storage/.gitkeep
!storage/dropbox/.gitkeep
